/* snippet.css */
.injected-snippet {
    background-color: #000a91;
    border: 1px solid #ccc;
    padding: 15px;
    font-family: Arial, sans-serif;
}

.injected-snippet h1 {
    color: #238b00;
    font-size: 24px;
}

.injected-snippet p {
    color: pink;
    font-size: 16px;
}